@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
  position: relative;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::before,
.spinner::after {
  border: 6.7px solid #e0d130;
  border-radius: 50%;
  position: absolute;
  content: "";
  display: block;
}

.spinner::before {
  width: 33.6px;
  height: 33.6px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner::after {
  animation: spinner-1o3y8q 0.5s infinite linear;
  height: 56px;
  width: 56px;
  border-right-color: transparent;
  border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
  to {
    transform: rotate(360deg);
  }
}

@layer base {
  h1 {
    @apply text-3xl font-semibold;
  }

  img {
    @apply object-contain;
  }

  button {
    @apply text-2xl  pb-4 font-semibold border-b-2 border-b-black;
  }

  li {
    @apply font-semibold duration-150 ease-out hover:text-gray-500 cursor-pointer;
  }
  .btn {
    @apply border border-black  text-2xl  py-[25px] px-[90px] text-center;
  }

  .btn-2 {
    @apply border-none bg-[#FAF4F4] rounded-full text-2xl  drop-shadow-md py-[15px] px-[90px] text-center;
  }
  .size {
    @apply bg-[#FAF4F4] px-[10px]  py-[10px] rounded-md text-center cursor-pointer hover:bg-gray-500;
  }
  .add-cart {
    @apply p-0 text-center border border-black rounded-lg  text-sm   py-4 px-10;
  }
}
